<%= form_for Priority.new do |f| %>

  <div class="field form-field">
    <%= f.select :wanted, options_for_select([['Prioritize', true], ['Avoid', false]])%>
  </div>

  <div class="field form-field">
    <%= f.hidden_field :p_type, value: :p_beer %>
  </div>

  <div class="field form-field">
    <%= f.hidden_field :tap_id, value: @tap.id %>
  </div>

    <% @beers = Beer.all %>
    <%= f.select :beer_id,
        @beers.map { |b| [b.name, b.id  ] }, {} %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
