<%= form_for Priority.new do |f| %>

<div class="field form-field">
  <%= f.select :wanted, options_for_select([['Prioritize', true], ['Avoid', false]])%>
</div>

  <div class="field">
    <%= f.hidden_field :p_type, value: :p_brewery %>
  </div>

  <div class="field">
    <%= f.hidden_field :tap_id, value: @tap.id %>
  </div>

    <% @breweries = Brewery.all %>
    <%= f.select :brewery_id,
        @breweries.map { |b| [b.name, b.id  ] }, {} %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
