<%= form_for Priority.new do |f| %>

  <div class="field">
    <%= f.check_box :wanted, id: :priority_wanted %>
    <%= f.label "Check if You don't want selected brewery" %>
  </div>

  <div class="field">
    <%= f.label "Choose brewery" %>
    <%= f.hidden_field :p_type, value: :p_brewery %>
  </div>

  <div class="field">
    <%= f.hidden_field :tap_id, value: @tap.id %>
  </div>

  <%= f.label :brewery %>
    <% @breweries = Brewery.all %>
    <%= f.select :brewery_id,
        @breweries.map { |b| [b.name, b.id  ] }, {} %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
