<%= form_for Priority.new do |f| %>

  <div class="field">
    <%= f.check_box :wanted, id: :priority_wanted %>
    <%= f.label "Check if You don't want selected style" %>
  </div>

  <div class="field">
    <%= f.label "Choose style" %>
    <%= f.hidden_field :p_type, value: :p_style %>
  </div>

  <div class="field">
    <%= f.hidden_field :tap_id, value: @tap.id %>
  </div>

  <%= f.label :style %>
    <% @styles = Style.all %>
    <%= f.select :style_id,
        @styles.map { |s| [s.name, s.id  ] }, {} %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
