<%= form_for Priority.new do |f| %>

<div class="field form-field">
  <%= f.select :wanted, options_for_select([['Prioritize', true], ['Avoid', false]])%>
</div>

  <div class="field">
    <%= f.hidden_field :p_type, value: :p_style %>
  </div>

  <div class="field">
    <%= f.hidden_field :tap_id, value: @tap.id %>
  </div>

    <% @styles = Style.all %>
    <%= f.select :style_id,
        @styles.map { |s| [s.name, s.id  ] }, {} %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
