<h3>Manage priorities</h3>
<% @tap.priorities.each do |p| %>
  <ul><%= p.prioritize %> </ul>
<% end %>
<%= render "priorities/new" %>

<h3> Tap another beer</h3>
<div>
  <%= form_for @tap do |f| %>
    <% @tap.beer_picker.each do |k| %>
      <% if k %>
        <%= k.beer.name%>
        <%= k.expiration_date %>
        <%= f.submit 'Choose this beer', name: "keg_id", value: k.id%>
      <% end %>
    <% end %>
  <% end %>
</div>
