<div class="centered-wrapper">
  <div class="sign-form col-xs-8 col-lg-4">
    <h2>Add new beer</h2>
    <div class="content-wrapper">
      <%= form_for Keg.new do |f| %>

        <% if Keg.new.errors.any? %>
          <div class='alert alert-danger' role='alert'>
            <h2><%= pluralize(keg.errors.count, "error") %> prohibited this keg from being saved:</h2>

            <ul>
            <% keg.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

       <div class="field form-field">
        <%= "How many kegs?" %>
        <%= number_field_tag :number, 1, in: 1..100 %>
       </div>
       <div class="field form-field">
        <%= f.label :expiration_date %>
        <%= f.date_field :expiration_date %>
       </div>
        <%= f.hidden_field :pub_id, value: current_user.pub_id %>
        <div class="field form-field">
       </div>
        <%= f.label :brewery %>
          <% @beers = Beer.all %>
          <%= f.select :beer_id,
              @beers.map { |b| [b.name, b.id  ] }, {} %>
              <div class="field form-field">
             </div>
             <div class="actions">
               <%= f.submit "Confirm" %>
             </div>

      <% end %>
    </div>
  </div>
</div>
