<div class="centered-wrapper">
  <div class="sign-form col-xs-8 col-lg-4">
    <h2>Add new brewery</h2>
    <div class="content-wrapper">
    <%= form_for @brewery do |f| %>

      <% if @brewery.errors.any? %>
        <div class='alert alert-danger' role='alert'>
          <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

          <ul>
          <% brewery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="field form-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
   </div>
    <div class="actions">
      <%= f.submit "Confirm" %>
    </div>

    <% end %>
    </div>
  </div>
</div>
