<div class="centered-wrapper">
  <div class="sign-form col-xs-8 col-lg-4">
    <h2>Add new beer</h2>
    <div class="content-wrapper">
    <%= form_for @beer do |f| %>
    
      <% if @beer.errors.any? %>
        <div class='alert alert-danger' role='alert'>
          <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
    
          <ul>
          <% beer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="field form-field">  
      <%= f.label :name %>
      <%= f.text_field :name %>
   </div>  
    <div class="field form-field">
      <%= f.label :plato %>
      <%= f.number_field :plato %>
   </div>  
    <div class="field form-field">
      <%= f.label :ibu %>
      <%= f.number_field :ibu %>
   </div>  
    <div class="field form-field">
      <%= f.label :abv %>
      <%= f.number_field :abv, step: :any %>
   </div>  
    <div class="field form-field">
      <%= f.label :price %>
      <%= f.number_field :price %>
   </div>  
    <div class="field form-field">
      <%= f.label :brewery %>
        <% @breweries = Brewery.all %>
        <%= f.select :brewery_id,
            @breweries.map { |b| [b.name, b.id  ] }, {}, class: 'form-control' %>
    </div>  
    <div class="field form-field">
      <%= f.label :style %>
        <% @styles = Style.all %>
        <%= f.select :style_id,
            @styles.map { |s| [s.name, s.id  ] }, {}, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "Confirm" %>
    </div>
    
    <% end %>
    </div>
  </div>
</div>
