<nav id="navi" class="navbar navbar-default navbar-fixed-top main-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= (current_user && current_user.pub) ? current_user.pub.name : 'Tap Manager' %> </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Taps', taps_path %></li>
        <li><%= link_to 'Kegs', kegs_path %></li>
        <li><%= link_to 'Beers', beers_path %></li>
        <% if current_user.admin? || current_user.manager? %>
          <li><%= link_to 'Breweries', breweries_path %></li>
          <li><%= link_to 'Styles', styles_path %></li>
        <% end %>
        <% if can? :index, User %>
          <li><%= link_to 'Crew', users_path %></li>
        <% end %>
        <li><%= link_to current_user.email, beers_path %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, role: 'button' %></li>
      <% end %>
    </ul>
  </div>
</nav>
